* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: grey;
  height: 100vh;
  overflow: hidden;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  background: yellow;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}
.center form {
  padding: 0 40px;
  box-sizing: border-box;
  margin-top: 100px;
  margin-bottom: 100px;
}
form .txt_field {
  position: relative;
  margin: 30px 0;
  background-color: white;
  width: 70%;
  margin-left: 100px;
  margin-right: 20px;
}
.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 60px;
  font-size: 30px;
  /* border: none; */
  background: none;
  outline: none;
}

input[type="submit"] {
  width: 20%;
  height: 50px;
  border: 3px solid black;
  background: rgb(126, 188, 126);
  border-radius: 5px;
  font-size: 22px;
  color: black;
  /* font-weight: 700; */
  cursor: pointer;
  outline: none;
  margin-left: 220px;
}
